.footer {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
}

.footerText {
    flex: 1;
}

.footerText > p {
    padding-bottom: 20px;
}

.footerRecord {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    height: 50px;
    filter: invert(1);
    position: absolute;
    bottom: 0;
    right: 20px;
}

.footerIcon {
    position: relative;
}

.footerTicker > .ticker {
    height: fit-content;
    margin-left: 30px;
    width: 60%;
}

.footer__text > h3 {
    padding-bottom: 20px;
}

.footerTicker h1 {
    padding-top: 7px;
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}